
<div class="intro">
      <p>Enter your username name and start chatting! </p>
      <div class="start-chat">
          {{input placeholder="jack" value=userName }}
          <button {{action "userSubmittedName"}}>
              Start chat
          </button>
      </div>
  </div>