
<div class="col-md-2 col-xs-2 avatar">
      <img src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg" class=" img-responsive ">
  </div>
  <div class="col-md-10 col-xs-10">
      <div class="messages msg_receive">
          <p>{{ text }}</p>
           <time datetime="2009-11-13T20:00">{{ message.username }} • {{ timestamp }}</time>
          <p>{{ message.mood }}</p>
      </div>
  </div>